* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.container {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;
}

.footer {
	margin-top: auto;
}
